.row {
  display: flex;
  flex-direction: column;
}

.col {
  margin: auto;
}

.alert {
  background-color: dodgerblue;
}

.start {
  animation: fadeIn 1s;
}



@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}